/* PreviewCodeBlock.css */

.preview-code-block {
    width: 250px;
    margin: 10px;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 3px solid #000; /* Adding a border for better visibility */
  }
  
  .preview-code-block .btn {
    margin-top: 10px;
  }
  